#kvc-wrap {
.kvc-file-select {
  border-color: var(--kvc-color-base);
  border-width: 1px;
  border-style: solid;
  background-color: var(--kvc-color-base-dark);
  padding: 16px 4px;
  display: block;
  font-size: 14px;
  overflow: hidden;
  position: relative;
  width: 190px;

  * {
    box-sizing: border-box;
  }

  input[type="file"] {
    display: none;
  }

  .kvc-file-select-list {
    margin: 0;
    padding: 0;


    .kvc-file-select-list-item-wrap {
      cursor: move !important;
      margin-bottom: 8px;
      background-color: var(--kvc-color-base-light);
      padding: 4px;

      &:last-child {
        margin-bottom: 24px;
      }

      &:hover {
        background-color: var(--kvc-color-primary-light);
      }

      .kvc-file-select-list-item {
        min-height: 24px;
        display: flex;
        align-items: center;
        column-gap: 4px;
        width: 100%;
        padding: 3px 3px 3px 0;
        font-size: 14px;

        .kvc-file-select-delete-button {
          color: var(--kvc-color-disabled-text);
          outline: 0;
          border: 0;
          background-color: none;
          width: 24px;
          height: 24px;
          display: inline-flex;
          align-items: center;
          justify-content: center;
          overflow: hidden;

          &:focus {
            outline: 1px solid var(--kvc-color-primary);
          }

          &:hover {
            background-color: #c5ced7;
          }
        }

        .kvc-file-select-file-name {
          display: block;
          flex: 1;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          word-wrap: normal;
        }

        .kvc-file-select-file-size {

        }
      }

      .kvc-file-select-file-image {
        display: block;
        padding: 2px 2px 4px;
        height: auto;
        max-width: 100%;
      }
    }
  }

  .kvc-file-select-group {
    display: flex;
    align-items: center;
    row-gap: 16px;

    .kvc-file-select-button {
      outline: 0;
      border: 0;
      position: relative;
      display: inline-block;
      margin-right: 16px;
      padding: 8px;
      color: var(--kvc-color-primary);
      text-decoration: none;
      background-color: transparent;
      font-size: 14px;

      &:hover {
        color: var(--kvc-color-primary-dark);
      }

      &:focus {
        outline: 1px solid var(--kvc-color-primary);
      }
    }

    .kvc-file-select-text {
      display: inline-block;
      color: var(--kvc-color-disabled-text);
      margin: 3px 0 0;
      font-size: 14px;
    }
  }

  .kvc-file-select-file-dropzone {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 2px dashed var(--kvc-color-primary);
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--kvc-color-primary);
    background-color: var(--kvc-color-primary-light);
  }
}

.kvc-file-value {
  display: block;
  border-color: var(--kvc-color-base);
  border-width: 1px;
  border-style: solid;
  padding: 4px 8px;
  background-color: #eee;
  word-wrap: break-word;
  overflow: hidden;
  min-height: 31px;
  max-width: 12rem;
  color: #333;
  white-space: pre-wrap;

  .kvc-file-select-list {
    margin: 0;
    padding: 0;
    list-style: none;

    .kvc-file-select-list-item-wrap {
      margin-bottom: 8px;

      &:last-child {
        margin-bottom: 0;
      }

      .kvc-file-select-file-image {
        display: block;
        width: 100%;
      }

      .kvc-file-select-file-name {
        color: var(--kvc-color-primary);
        font-size: 14px;
      }

      .kvc-file-select-file-size {
        margin-left: 4px;
        font-size: 14px;
      }
    }
  }
}
}
