@mixin checkbox-group-styles {
  .kvc-checkbox-group,
.kvc-radio-group {
  border-color: var(--kvc-color-border);
  border-width: 1px;
  border-style: solid;
  padding: 4px 0 0 4px;
  display: flex;
  width: fit-content;
  align-items: flex-start;
  flex-direction: row;

  &.kvc-checkbox-group-column,
  &.kvc-radio-group-column {
    flex-direction: column;
  }

  label.kvc-checkbox-item,
  label.kvc-radio-item {
    margin-bottom: 4px;
    margin-right: 16px;
    padding: 4px;
    border: 1px solid transparent;
    position: relative;
    white-space: normal;
    word-wrap: normal;
    display: flex;
    gap: 8px;
    align-items: center;
    outline-width: 0px;
    outline-color: var(--kvc-color-primary);
    outline-style: solid;
    min-height: 24px;
    line-height: 1.2;

    &:focus-within {
      outline-width: 1px;
    }

    input[type="checkbox"],
    input[type="radio"] {
      position: absolute;
      z-index: -1;

      & + *,
      & ~ * {
        font-size: 14px;
        cursor: pointer;
      }

      &:disabled ~ *,
      &:disabled + * {
        cursor: not-allowed;
        color: var(--kvc-color-disabled-text);
      }
    }
  }
}

}