@mixin form-field-styles {
  .kvc-field {
    height: auto;
    min-width: 116px;
    position: relative;
    float: left;
    padding: 0 8px;
    font-size: 14px;
    outline: 0;

    .kvc-field-label {
      cursor: text;
      word-wrap: break-word;
      display: inline-block;
      padding: 4px 8px;
      color: #333;
      font-size: 14px;
      margin: 0 -8px;
      white-space: nowrap;

      .kvc-field-required {
        &::after {
          content: '*';
          font-size: 20px;
          color: var(--kvc-color-error);
          margin-left: 4px;
          line-height: 1;
          vertical-align: -3px;
        }
      }
    }

    .kvc-field-message-error,
    .kvc-field-message-success {
      position: relative;
      display: block;
      margin: 8px 0;
      padding: 4px 18px;
      color: #fff;
    }

    .kvc-field-message-success {
      background-color: var(--kvc-color-success);
    }

    .kvc-field-message-error {
      background-color: var(--kvc-color-error);
    }
  }

  .kvc-field-value {
    display: block;
    border-color: var(--kvc-color-base);
    border-width: 1px;
    border-style: solid;
    padding: 4px 8px;
    background-color: #eee;
    word-wrap: break-word;
    overflow: hidden;
    // width: 100%;
    min-height: 21px;
    min-width: 4rem;
    color: #333;
    white-space: pre-wrap;

    &.kvc-field-value-nonstyled {
      border: none;
      padding: 0;
      background: none;
      min-height: auto;
      min-width: auto;
    }
  }

  .kvc-field-input {
    display: flex;
    align-items: center;
    color: #333;
    flex-wrap: wrap;

    // .kvc-field-prefix {
    // }
    // .kvc-field-suffix {
    // }
  }

  .kvc-field {
    .kvc-field-input {
      min-width: 100% !important;
    }
    .kvc-field-text {
      min-width: 100% !important;
    }
  }
}
