@mixin tab-styles {
  .kvc-tab {
    .kvc-tab-header {
      display: flex;
      padding-left: 15px;
      padding-right: 15px;

      .kvc-tab-item {
        background-color: var(--kvc-color-disabled-background);
        cursor: pointer;
        height: 48px;
        line-height: 48px;
        min-width: 200px;
        border: 0;
        outline: 0;
        border-left: 1px solid var(--kvc-color-border);
        border-top: 1px solid var(--kvc-color-border);
        box-shadow: 1px 0 3px var(--kvc-color-border) inset;
        box-sizing: border-box;
        text-align: center;

        &.kvc-tab-item-small {
          min-width: 100px;
          max-width: 280px;
          height: 40px;
          line-height: 40px;
          font-size: 14px;
          border-bottom: none;
        }

        &:last-child {
          border-right: 1px solid var(--kvc-color-border);
        }



        &.is-active {
          background-color: #fff;
          box-shadow: none;
        }
      }
    }

    .kvc-tab-content {
      // min-width: 960px;
      // min-height: 650px;
      padding: 32px 16px;
      border-top: 0;
      background-color: #fff;
      box-shadow: 0 0 8px 2px #0000001a;
      z-index: 1;

      &.kvc-tab-content-small {
        padding: 16px;
      }
    }
  }
}