@mixin table-styles {
  .kvc-table {
    border-spacing: 0;
    min-width: max-content;
    border-collapse: separate;
    border-color: var(--kvc-color-border);
    color: #333;
    font-size: 14px;
    line-height: 21px;
    padding: 0px;
    padding-bottom: 4px;

    .ghost {
      opacity: 0.75;
      background: #c8ebfb;
    }
    .list-group-item {
      padding: 5px;
      border-bottom: solid #000000 1px;
    }
    .handle {
      cursor: move;
    }

    & > thead {
      & > tr > th {
        background-color: var(--kvc-color-primary);
        border-color: var(--kvc-color-primary);
        border-width: 1px;
        color: white;
        font-size: 12px;
        font-weight: 400;
        height: 40px;
        text-align: left;
        vertical-align: middle;
        white-space-collapse: collapse;
        line-height: 18px;
        padding: 4px 8px;

        .kvc-table-header-label {
          display: inline-block;
          width: 100%;
        }
      }
    }

    & > tbody {
      & > tr > td {
        // background-color: var(--kvc-color-base-light);
        border-color: var(--kvc-color-border);
        border-width: 0 1px 1px;
        vertical-align: top;
        padding: 4px 8px;
        border-style: solid;
        width: max-content;

        &:nth-child(n + 2) {
          border-left-width: 0;
        }

        .kvc-file-value {
          background-color: inherit !important;
          border: none !important;
        }

        .kvc-checkbox-group,
        .kvc-radio-group {
          border-width: 0 !important;
        }
      }
    }

    & > thead,
    & > tbody {
      & > tr > th,
      & > tr > td {
        &.kvc-table-operation {
          right: 0px;
          position: sticky;
          border-left-width: 0;
          padding: 4px 0;
          border-width: 1px;
          border-style: solid;
          border-width: 0 1px 1px;
          white-space: nowrap;
          // box-shadow: -2px 0 4px 0 rgba(0, 0, 0, 0.08);
          vertical-align: middle;

          .kvc-table-operation-buttons {
            padding: 0 12px;
            display: flex;
            gap: 18px;

            button.kvc-table-btn-plus {
              background-color: var(--kvc-color-primary);
            }

            button.kvc-table-btn-minus {
              background-color: var(--kvc-color-secondary-light);
              &:hover {
                background-color: var(--kvc-color-error);
              }
            }

            button.kvc-table-btn-plus,
            button.kvc-table-btn-minus {
              cursor: pointer;
              width: 18px;
              height: 18px;
              border-radius: 9999px;
              border: 0;
              color: white;
              display: inline-flex;
              justify-content: center;
              align-items: center;
              padding: 0;
              outline: 0;

              &:disabled {
                cursor: not-allowed;
                background-color: var(--kvc-color-secondary-light) !important;
              }
            }
          }
        }
      }
      & > tr > th {
        &.kvc-table-operation {
          background-color: var(--kvc-color-primary);
        }
      }
      & > tr > td {
        &.kvc-table-operation {
          background-color: white;
        }
      }
    }
  }
}
