@mixin text-input-styles {
  input.kvc-field-text {
    padding: 0 8px;
    height: 40px;
  }

  textarea.kvc-field-text {
    padding: 8px;
    min-height: 103px;
  }

  .kvc-field-text {
    box-sizing: border-box;
    width: 100%;
    border-color: var(--kvc-color-base);
    outline: 0;
    border-width: 1px;
    border-style: solid;
    font-size: 14px;
    background-color: #fff;
    box-shadow: 2px 2px 4px var(--kvc-color-base-light) inset,
      -2px -2px 4px var(--kvc-color-base-light) inset;
    display: inline-block;
    margin: 0;
    border: 1px solid #e3e7e8;
  }
}