@use './assets/button' as *;
@use './assets/checkbox-group' as *;
@use './assets/datetime-picker' as *;
@use './assets/dropdown' as *;
@use './assets/autocomplete' as *;
@use './assets/file-select' as *;
@use './assets/form-field' as *;
@use './assets/group' as *;
@use './assets/text-input' as *;
@use './assets/select-list' as *;
@use './assets/table' as *;
@use './assets/tab' as *;
@use './assets/dialog' as *;

:root {
  --kvc-spacing: 0.25rem;
  --kvc-color-disabled-background: #d4d7d7;
  --kvc-color-disabled-text: #888;
  --kvc-color-border: #ccc;
  --kvc-color-base: #e3e7e8;
  --kvc-color-base-light: #f5f5f5;
  --kvc-color-base-dark: #eee;
  --kvc-color-main: #f7f9fa;
  --kvc-color-main-dark: #c8d6dd;
  --kvc-color-primary: #3498db;
  --kvc-color-primary-light: #e2f2fe;
  --kvc-color-primary-dark: #1d6fa5;
  --kvc-color-secondary: #9f9f9f;
  --kvc-color-secondary-dark: #6b6b6b;
  --kvc-color-secondary-light: #c5c5c5;
  --kvc-color-success: #91c36c;
  --kvc-color-success-dark: #78a656;
  --kvc-color-error: #e74c3c;
  --kvc-color-error-dark: #bf2718;
}

#kvc-wrap {

  .kvc-row {
    margin-left: 10px;
    margin-bottom: 10px;
    display: flex;
    width: 100%;
  }

  @include button-styles;
  @include checkbox-group-styles;
  @include datetime-picker-styles;
  @include dropdown-styles;
  @include autocomplete-styles;
  @include file-select-styles;
  @include form-field-styles;
  @include group-styles;
  @include select-list-styles;
  @include text-input-styles;
  @include table-styles;
  @include tab-styles;
  @include dialog-styles;

  * {
    box-sizing: border-box;
  }

  * > p {
    margin: 0;
  }

  .kvc-datepicker-popup button {
    all: unset;
    border: 0;
    background-color: white;
    cursor: pointer;
  }

  .kvc-dropdown,
  .kvc-field-text {
    height: 40px;
    line-height: 1.5;

    &:focus {
      border-color: var(--kvc-color-primary);
      outline: none;
    }

    &:disabled {
      background-color: var(--kvc-color-disabled-background);
      box-shadow: none;
      color: var(--kvc-color-disabled-text);
      cursor: not-allowed;
      opacity: 1;
    }
  }

  .kvc-button,
  .kvc-datepicker-popup button,
  .kvc-dropdown,
  .kvc-field-text {
    font-size: 14px;
    line-height: 1.5;
    outline: 0;

    &:disabled {
      cursor: not-allowed;
      color: var(--kvc-color-disabled-text);
    }
  }

  .kvc-link {
    color: var(--kvc-color-primary);
    &:hover {
      color: var(--kvc-color-primary-dark);
    }
  }

  input[type="number"]::-webkit-outer-spin-button,
  input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}